body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.frontLists {
  display: flex;
  justify-content: space-evenly;
}

.frontLists ul {
  /* width: 5vw; */
  margin-top: -15px;
  margin-left: -40px;
}

.randomRecipeCard {
  width: 25vw;
  height: 40vw;
  margin-left: 35vw;
  margin-top: 20vh;
  background-color: beige;
  overflow-y: scroll;
}

.randomRecipeCard img {
  width: 18vw;
  margin-top: 5px;
  margin-left: 30px;
}

body {
  background-color: black;
  background-image: url('./Images/istockphoto-935971392-612x612.8069cc51.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.homeLink {
  border: 1px solid black;
  padding: 5px;
  border-color: black;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('./Images/goodplate.png');
  background-size: cover;
  background-color: transparent;
}

.week {
  display: flex;
  justify-content: space-evenly;
}

.list-group-item {
  overflow-y: scroll;
}
.list-group-item img {
  width: 14vw;
}

* {
  font-family: monospace;
}

.listItems {
  height: 90vh;
  overflow-y: scroll;
  width: 70vh;
  margin-left: 22vw;
  margin-top: 5vh;
}

.mainNav {
  font-size: 15px;
}

.homeButton {
  margin-top: 0px;
  margin-left: 30px;
}

.randoms {
  overflow-y: scroll;
}

.homescreen {
  display: flex;
  margin-top: 200px;
  margin-left: 550px;
}

.auth {
  margin-top: 200px;
}

.welcome {
  margin-top: 50px;
}

.mainContent {
  margin-top: -20px;
}

.weeklyList {
  width: 700px;
}
/* .weekgroup {
  border-radius: 25px;
  background-color: black;
  background: transparent;
} */
.weeklyList img {
  padding: 10px;
}

.card {
  display: grid;
  width: 25vw;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: 'image' 'text' 'stats';
  border-radius: 18px;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
}

.card img {
  width: 14vw;
}
.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats;
}
.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}
.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}

.cardButtons {
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.recipeCards {
  margin-left: 35vw;
}

.form-inline {
  width: 50vw;
  margin-top: 45px;
  margin-left: 30vw;
}
