body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.frontLists {
  display: flex;
  justify-content: space-evenly;
}

.frontLists ul {
  width: 5vw;
  margin-top: -15px;
  margin-left: -40px;
}

.randomRecipeCard {
  width: 25vw;
  height: 40vw;
  margin-left: 30vw;
  margin-top: 20vh;
  background-color: gray;
}

.randomRecipeCard img {
  width: 18vw;
  margin-top: 5px;
  margin-left: 30px;
}

body {
  background-color: black;
  background-image: url("./istockphoto-935971392-612x612.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.homeLink {
  border: 1px solid black;
  padding: 5px;
  border-color: black;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
