code {
  font-family: 'Montserrat', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
body {
  background-color: black;
  background-image: url('./Images/istockphoto-935971392-612x612.8069cc51.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
